@media (min-width: 679px) {
  .content {
    height: 100%;
  }

  .creative {
    height: 713.6px;
  }
  .container {
    display: flex;
  }
  .left {
    padding: 9%;
    width: 32%;
  }
  .right {
    width: 50%;
  }

  .logo-menu {
    color: white;
    margin: 3% 4% 0% 4%;
  }

  .logo img {
    width: 200px;
  }

  .menu {
    font-family: "Fraunces";
    display: flex;
    width: 35%;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
  }

  .menu-item {
    cursor: pointer;
  }

  .contact {
    font-family: "Barlow";
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .contact:hover {
    color: white;
    background-color: rgb(111, 207, 255);
  }

  .heading {
    font-family: "Fraunces";
    color: white;
    font-size: 65px;
    font-weight: 800;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    letter-spacing: 6px;
    width: max-content;
  }

  .arrow-down {
    top: 30%;
  }

  .sub-heading {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .paragraph {
    font-size: 21px;
  }

  .learn {
    font-size: 20px;
    font-weight: 900;
    margin-top: 40px;
    width: fit-content;
  }

  .main-container {
    display: grid;
  }

  .subtitle {
    font-size: 35px;
    letter-spacing: 3px;
  }

  .cherry {
    background-image: url("../assets/desktop/image-graphic-design.jpg");
    width: 26%;
    background-size: cover;
    padding: 27% 12% 4% 12%;
    color: hsl(167, 40%, 24%);
  }

  .cherry-title {
    text-align: center;
  }

  .subpara {
    text-align: center;
    font-size: 20px;

    margin-top: 6%;
  }

  .orange {
    background-image: url("../assets/desktop/image-photography.jpg");
    width: 26%;
    background-size: cover;
    padding: 27% 12% 4% 12%;
    color: hsl(198, 62%, 26%);
  }

  .client-testimony-container {
    padding: 7% 7% 12% 7%;
  }

  .client-title {
    font-size: 22px;
    letter-spacing: 10px;
  }

  .client-testimony-list {
    display: flex;
  }

  .client-testimony {
    padding: 6% 2% 0% 2%;
  }

  .profile {
    width: 90px;
  }

  .testimony {
    font-size: 18px;
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .name {
    font-size: 20px;
    margin-bottom: 3%;
  }

  .footer-img {
    width: 25%;
  }

  .footer {
    background-color: rgb(162, 220, 206);
    padding: 5% 39% 0% 39%;
  }

  .footer-title-container {
    font-size: 40px;
  }

  .footer-link-container {
    font-size: 18px;
  }

  .link {
    cursor: pointer;
  }

  .link:hover {
    color: white;
  }

  .icon {
    cursor: pointer;
  }

  .icon:hover {
    filter: brightness(900%);
  }
}
@media (max-width: 679px) {
  .creative {
    background-position: center;
    position: relative;
  }
  .logo-menu {
    padding: 6%;
  }
  .heading {
    font-family: "Fraunces";
    color: white;
    font-weight: 800;
    letter-spacing: 6px;
    width: 100%;
    font-size: 285%;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 50%;
  }
  .arrow-down {
    top: -30%;
  }

  .image {
    width: 100%;
  }

  .info-container {
    padding: 18% 5% 18% 5%;
    text-align: center;
  }
  .sub-heading {
    font-size: 200%;
    margin-bottom: 7%;
  }
  .paragraph {
    font-size: 109%;
    font-family: Barlow;
    font-weight: 600;
  }
  .learn {
    font-size: 100%;
    font-weight: 900;
    margin-top: 8%;
    margin-left: auto;
    font-family: "Fraunces";
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
  }

  .cherry {
    background-image: url("../assets/desktop/image-graphic-design.jpg");
    background-size: cover;
    padding: 90% 5% 14% 5%;
    color: hsl(167, 40%, 24%);
    background-position: center;
    text-align: center;
  }
  .orange {
    background-image: url("../assets/desktop/image-photography.jpg");
    background-size: cover;
    padding: 90% 5% 14% 5%;

    color: hsl(198, 62%, 26%);
    background-position: center;
    text-align: center;
  }
  .subtitle {
    font-size: 165%;
    font-weight: 900;
  }
  .subpara {
    font-family: "Fraunces";
    line-height: 1.5em;
    margin-top: 10%;
  }
  .client-testimony-container {
    padding: 10% 7% 20% 7%;
  }
  .client-title {
    font-size: 100%;
    letter-spacing: 5px;
  }
  .client-testimony {
    padding: 15% 5% 0% 5%;
  }
  .profile {
    width: 25%;
  }
  .testimony {
    font-size: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .name {
    margin-bottom: 3%;
  }
  .footer-img {
    width: 50%;
  }
  .footer {
    background-color: rgb(162, 220, 206);
    padding: 10% 10% 0% 10%;
  }

  .footer-title-container {
    font-size: 210%;
  }

  .footer-link-container {
    font-size: 110%;
  }

  .drop-down {
    position: absolute;
    top: 13%;
    z-index: 1;
    left: 85%;
    width: 100%;
    height: 100%;
  }

  .traingle {
    width: 9%;
    height: 34px;
    background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      white 50%,
      white 100%
    );
  }
  .mob-menu {
    width: 38%;
    background-color: white;
    position: absolute;
    right: 91%;
    top: 6%;
    text-align: center;
    padding: 10% 25% 10% 25%;
  }
  .menu-item {
    font-size: 130%;
    margin-bottom: 15%;
    font-family: Barlow;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
  }
  .contact {
    font-family: "Fraunces";
    font-size: 110%;
    padding: 10% 20% 10% 20%;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: hsl(51, 100%, 49%);
    font-weight: 600;
  }
}
