<div class="content">
  <div class="creative scrollable-content">
    <div class="logo-menu">
      <div class="logo"><img src="../assets/logo.svg" alt="" /></div>
      <ng-container *ngIf="!mobileView">
        <div class="menu">
          <span class="menu-item">About</span>
          <span class="menu-item">Services</span>
          <span class="menu-item">Projects</span>
          <button class="contact">CONTACT</button>
        </div></ng-container
      >
      <ng-container *ngIf="mobileView">
        <img
          src="../assets/icon-hamburger.svg"
          alt=""
          (click)="onClickMenu()"
        />
      </ng-container>
    </div>
    <ng-container *ngIf="mobileView && menu"
      ><div class="drop-down">
        <div class="traingle"></div>
        <div class="mob-menu">
          <div class="menu-item">About</div>
          <div class="menu-item">Services</div>
          <div class="menu-item">Projects</div>
          <button class="contact">CONTACT</button>
        </div>
      </div></ng-container
    >
    <div class="heading">WE ARE CREATIVES</div>
    <img class="arrow-down" src="../assets/icon-arrow-down.svg" alt="" />
  </div>
  <ng-container *ngIf="!mobileView">
    <div class="main-container">
      <div class="container">
        <div class="left">
          <div class="sub-heading">Transform your brand</div>
          <span class="paragraph"
            >We are a full-service creative agency specializing in helping
            brands grow fast. Engage your clients through compelling visuals
            that do most of the marketing for you.</span
          >
          <div class="learn">
            <span>LEARN MORE</span>
            <div class="yellow"></div>
          </div>
        </div>
        <img class="right" src="../assets/desktop/image-transform.jpg" alt="" />
      </div>
      <div class="container">
        <img class="right" src="../assets/desktop/image-stand-out.jpg" alt="" />
        <div class="left">
          <div class="sub-heading">Stand out to the right audience</div>
          <span class="paragraph"
            >Using a collaborative formula of designers, researchers,
            photographers, videographers, and copywriters, we'll build and
            extend your brand in digital places.</span
          >
          <div class="learn">
            <span>LEARN MORE</span>
            <div class="pink"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="cherry">
          <div class="cherry-title">
            <span class="subtitle">Graphic Design</span>
          </div>
          <div class="subpara">
            Great design makes you memorable. We deliver artwork that
            underscores your brand message and captures potential clients'
            attention.
          </div>
        </div>
        <div class="orange">
          <div class="cherry-title">
            <span class="subtitle">Photography</span>
          </div>
          <div class="subpara">
            Increase your credibility by getting the most stunning, high-quality
            photos that improve your business image.
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileView">
    <div>
      <img
        class="image"
        src="../assets/desktop/image-transform.jpg"
        alt="image-transform"
      />
    </div>
    <div class="info-container">
      <div class="sub-heading">Transform your brand</div>
      <span class="paragraph"
        >We are a full-service creative agency specializing in helping brands
        grow fast. Engage your clients through compelling visuals that do most
        of the marketing for you.</span
      >
      <div class="learn">
        <span>LEARN MORE</span>
        <div class="yellow"></div>
      </div>
    </div>
    <div>
      <img
        class="image"
        src="../assets/desktop/image-stand-out.jpg"
        alt="image-transform"
      />
    </div>
    <div class="info-container">
      <div class="sub-heading">Stand out to the right audience</div>
      <span class="paragraph"
        >Using a collaborative formula of designers, researchers, photographers,
        videographers, and copywriters, we'll build and extend your brand in
        digital places.</span
      >
      <div class="learn">
        <span>LEARN MORE</span>
        <div class="pink"></div>
      </div>
    </div>
    <div class="cherry">
      <div class="cherry-title">
        <span class="subtitle">Graphic Design</span>
      </div>
      <div class="subpara">
        Great design makes you memorable. We deliver artwork that underscores
        your brand message and captures potential clients' attention.
      </div>
    </div>
    <div class="orange">
      <div class="cherry-title">
        <span class="subtitle">Photography</span>
      </div>
      <div class="subpara">
        Increase your credibility by getting the most stunning, high-quality
        photos that improve your business image.
      </div>
    </div>
  </ng-container>
  <div class="client-testimony-container">
    <div class="client-testimony-heading">
      <span class="client-title">CLIENT TESTIMONIALS</span>
    </div>
    <div class="client-testimony-list">
      <div class="client-testimony">
        <div class="profile-container">
          <img
            class="profile"
            src="../assets/image-emily.jpg"
            alt="image-emily"
          />
        </div>
        <div class="testimony">
          We put our trust in Sunnyside and they delivered, making sure our
          needs were met and deadlines were always hit.
        </div>
        <div class="name-designation">
          <span class="name">Emily R.</span>
          <span class="designation">Marketing Director</span>
        </div>
      </div>
      <div class="client-testimony">
        <div class="profile-container">
          <img
            class="profile"
            src="../assets/image-thomas.jpg"
            alt="image-thomas"
          />
        </div>
        <div class="testimony">
          Sunnyside's enthusuasm coupled with their keen interest in our brand's
          success made it a satisfying and enjoyable experience.
        </div>
        <div class="name-designation">
          <span class="name">Thomas S.</span>
          <span class="designation">Chief Operating Officer</span>
        </div>
      </div>
      <div class="client-testimony">
        <div class="profile-container">
          <img
            class="profile"
            src="../assets/image-jennie.jpg"
            alt="image-jennie"
          />
        </div>
        <div class="testimony">
          Incredible end result! Our sales increased over 400% when we worked
          with Sunnyside. Highly recommended!
        </div>
        <div class="name-designation">
          <span class="name">Jennie F.</span>
          <span class="designation">Business Owner</span>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!mobileView">
    <div class="footer-container">
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-milkbottles.jpg"
        alt="milkbottles"
      />
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-orange.jpg"
        alt="orange"
      />
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-cone.jpg"
        alt="cone"
      />
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-sugarcubes.jpg"
        alt="sugarcubes"
      />
    </div>
  </ng-container>
  <ng-container *ngIf="mobileView">
    <div class="footer-container">
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-milkbottles.jpg"
        alt="milkbottles"
      />
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-orange.jpg"
        alt="orange"
      />
    </div>
    <div class="footer-container">
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-cone.jpg"
        alt="cone"
      />
      <img
        class="footer-img"
        src="../assets/desktop/image-gallery-sugarcubes.jpg"
        alt="sugarcubes"
      />
    </div>
  </ng-container>
  <div class="footer">
    <div class="footer-title-container"><span> sunnyside </span></div>
    <div class="footer-link-container">
      <span class="link">About</span>
      <span class="link">Service</span>
      <span class="link">Projects</span>
    </div>
    <div class="social-container">
      <img class="icon" src="../assets/icon-facebook.svg" alt="icon-facebook" />
      <img
        class="icon"
        src="../assets/icon-instagram.svg"
        alt="icon-instagram"
      />
      <img class="icon" src="../assets/icon-twitter.svg" alt="icon-twitter" />
      <img
        class="icon"
        src="../assets/icon-pinterest.svg"
        alt="icon-pinterest"
      />
    </div>
  </div>
</div>
